<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SALÃO DESTAQUE</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="icon" type="image/png" href="/public/assets/icone.png"> <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css"> <!-- Main css -->
    <link rel="stylesheet" type="text/css" href="/public/styles/home.css"> <!-- Home css -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">  <!-- Font -->
</head>
<body>
<!--============================================================ HEADER ============================================================-->
<header>
    <div class="container">
        <div class="header-left">
            <div class="logo"><img src="/public/assets/logomarca.webp" alt="Logomarca"></div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#about">Sobre</a></li>
                        <li><a href="#services">Serviços</a></li>
                        <li><a href="#prices">Preços</a></li>
                        <li><a href="#location">Localização</a></li>
                        <li><a href="#contact">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-right">
            <div class="button-scheduling">Agendamento <img src="/public/assets/seta.webp" alt="Agendamento"></div>
        </div>
    </div>
</header>
<!--============================================================ BANNER ============================================================-->

<!--============================================================= ABOUT ============================================================-->
<!--=========================================================== SERVICES ===========================================================-->
<!--============================================================ PRICES ============================================================-->
<!--=========================================================== LOCATION ===========================================================-->
<!--============================================================ FOOTER ============================================================-->




<!--======================================================= SCHEDULING MODAL =======================================================-->
<!--======================================================= SCHEDULED HOURS ========================================================-->
</body>
</html>