<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SALÃO DESTAQUE</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="icon" type="image/png" href="/public/assets/icone.png"> <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css"> <!-- Main css -->
    <link rel="stylesheet" type="text/css" href="/public/styles/home.css"> <!-- Home css -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">  <!-- Font -->
</head>
<body>

<div id="bg-banner">
<!--============================================================ HEADER ============================================================-->
<header>
    <div class="container">
        <div class="header-content">
            <img src="/public/assets/logomarca.webp" alt="Logomarca">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#about">Sobre</a></li>
                        <li><a href="#services">Serviços</a></li>
                        <li><a href="#prices">Preços</a></li>
                        <li><a href="#location">Localização</a></li>
                        <li><a href="#contact">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="agendamento">Agendamento <img src="/public/assets/seta.webp" alt="->"></div>
    </div>
</header>
<!--============================================================ BANNER ============================================================-->
<main>
    <div class="container">
        <div class="banner-content column">
            <span>BEM-VINDO :)</span>
            <h1>Simplesmente uma simulação</h1>
            <p>Simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo.</p>
            <div class="banner-content-options">
                <a href="#services"><div class="banner-services"><span>Serviços</span></div></a>
                <a href="#location"><div class="banner-location"><span>Localização</span></div></a>
            </div>
        </div>
        <div class="banner-thumbnail"><img src="/public/assets/banner-thumbnail.webp" alt="Corte de cabelo Unissex"></div>
    </div>
</main>
</div>
<!--============================================================= ABOUT ============================================================-->
<!--=========================================================== SERVICES ===========================================================-->
<!--============================================================ PRICES ============================================================-->
<!--=========================================================== LOCATION ===========================================================-->
<!--============================================================ FOOTER ============================================================-->




<!--======================================================= SCHEDULING MODAL =======================================================-->
<!--======================================================= SCHEDULED HOURS ========================================================-->
</body>
</html>