/*============================================================ HEADER ============================================================*/
header {
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#CCC;
}
/*============================================================= ABOUT ============================================================*/
/*=========================================================== SERVICES ===========================================================*/
/*============================================================ PRICES ============================================================*/
/*=========================================================== LOCATION ===========================================================*/
/*============================================================ FOOTER ============================================================*/




/*======================================================= SCHEDULING MODAL =======================================================*/
/*======================================================= SCHEDULED HOURS ========================================================*/