/*============================================================ DEFAULT ===========================================================*/
#bg-banner {
    background-size:60%;
    background-position:top left;
    background-repeat:no-repeat;
    background-color:#F1F1F1;
    background-image:url('../assets/banner-bg.webp');
}
.agendamento {
    cursor:pointer;
    width:180px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#FFF;
    font-size:16px;
    font-weight:400;
    border-radius:6px;
    background-color:#1C56D3;
    background:linear-gradient(162.53deg, #02A9DA 0%, #1C56D3 45.16%, #0046D2 76.82%);
}
.agendamento img {
    margin-left:16px;
}
/*============================================================ HEADER ============================================================*/
header {
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.header-content{
    display:flex;
    align-items:center;
}
.header-content .menu {
    margin-left:58px;
}
.header-content .menu nav ul {
    display:flex;
}
.header-content .menu nav ul a {
    color:#FFF;
    font-size:16px;
    font-weight:400;
    margin-right:20px;
    padding-bottom:20px;
}
.header-content .menu nav ul a:hover {
    transition:all 0.3s;
    padding-bottom:10px;
    border-bottom:2px solid #FFF;
}
/*============================================================ BANNER ============================================================*/
main {
    display:flex;
    align-items:center;
    justify-content:center;
    height:calc(100vh - 70px);
}
main .container {
    width:1135px;
}
.banner-content span {
    color:#FFF;
    font-size:14px;
    font-weight:400;
    line-height:20px;
    letter-spacing:6px;
}
.banner-content h1 {
    margin:0;
    color:#FFF;
    font-size:40px;
    font-weight:700;
    line-height:48px;
    max-width:324px;
    margin-top:20px;
    margin-bottom:30px;
}
.banner-content p {
    margin:0;
    color:#FFF;
    max-width:400px;
    margin-bottom:30px;
}
.banner-content-options {
    display:flex;
}
.banner-services {
    width:160px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    font-weight:400;
    border-radius:6px;
    margin-right:20px;
    background-color:#FFF;
}
.banner-services span {
    color:#1C56D3;
    font-size:18px;
    font-weight:400;
    letter-spacing:0px;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-background-clip:transparent;
    background-image:linear-gradient(162.53deg, #02A9DA 0%, #1C56D3 45.16%, #0046D2 76.82%);
}
.banner-location {
    width:180px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    font-weight:400;
    border-radius:6px;
    border:1px solid #FFF;
}
.banner-location span {
    color:#FFF;
    font-size:18px;
    font-weight:400;
    letter-spacing:0px;
}
.banner-services:hover,
.banner-location:hover {
    transition:all 0.3s;
    transform:translateX(10px);
}
/*============================================================= ABOUT ============================================================*/
/*=========================================================== SERVICES ===========================================================*/
/*============================================================ PRICES ============================================================*/
/*=========================================================== LOCATION ===========================================================*/
/*============================================================ FOOTER ============================================================*/




/*======================================================= SCHEDULING MODAL =======================================================*/
/*======================================================= SCHEDULED HOURS ========================================================*/